#faq {
  >h1 {
    text-align: center;
  }

  >div {
    background: var(--secondaryColor);
    padding: 10px;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 10px;
    box-shadow: var(--boxShadowInset);
    border-radius: var(--borderRound);
  }
}

summary {
  cursor: pointer;
}

details {
  padding: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  background: var(--mainColor);
  border: var(--border1);
  border-radius: var(--borderRound);
  box-shadow: var(--boxShadow);
  a{
    text-decoration: underline;
    color:blue;
    &:visited{
      color:blueviolet;
    }
  }
}