#store {
    display: flex;
    flex-direction: row;
}

#storefilter {
    display: flex;
    flex-direction: column;
    width: 20%;
    min-height: 100%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 10px;
    border-right: var(--border1);
    border-bottom: var(--border1);
    background: var(--secondaryColor);
    box-shadow: var(--boxShadow);

    >button {
        padding-bottom: 10px;
        border-bottom: var(--border2);
        color: var(--accentColor);
        background-color: var(--mainColor);
    }

    >div {
        display: flex;
        flex-direction: column;
        border-bottom: var(--border2);
        padding-bottom: 10px;
        overflow: hidden;
        transition: 0.3s;

        >div {
            display: flex;
            flex-direction: column;
            border-bottom: var(--border2);
            padding-bottom: 10px;

            >div {
                display: flex;
                flex-direction: row;
                justify-content: start;
                align-items: center;
            }
        }

    }
}

#storecards {
    flex-direction: row;
    flex-wrap: wrap;
    right: 0;
    width: 80%;

    >div {
        width: 230px;
        height: 300px;
        padding: 2%;
        margin: 2%;
        text-align: center;
        cursor: pointer;
        box-shadow: var(--boxShadow);
        box-sizing: border-box;
        align-content: center;
        border-width: 2px;

        >h3 {
            position: absolute;
            top: 5px;
            left: 0;
            padding: 2px;
            margin: 0;
            width: 100%;
            text-align: center;
            box-sizing: border-box;
            font-size: 18px;
        }

        >img {
            position: relative;
            top: 5px;
            max-width: 180px;
            max-height: 180px;
        }

        >#discountTag {
            top: 5px;
            right: -100px;
            width: 100%;
            justify-content: space-around;
            font-weight: bold;
        }

        &:hover {
            border-color: var(--accentColor);
        }

        >div {
            &:last-child {
                position: absolute;
                bottom: 5px;
                left: 0;
                display: flex;
                width: 100%;
                justify-content: space-around;
                font-weight: bold;

                >p {
                    margin: 2px;
                }
            }
        }
    }
}

@media (max-width: 700px) {
    #store {
        flex-direction: column;
    }

    #storefilter {
        width: 100%;
        height: 20%;
        min-height: fit-content;
        border: none;
        padding: 0;

        >div {
            flex-direction: row;
            flex-wrap: wrap;
            align-items: start;
            justify-content: space-around;

            >div {
                justify-content: start;
                align-items: center;
                height: 230px;
                box-sizing: border-box;
                border: none;
                margin-left: 1px;
                margin-right: 1px;
                padding-left: 2px;
                padding-right: 2px;
            }
        }
    }

    #storecards {
        justify-content: space-around;
        width: 100%;
    }
}